<h3>Hey folks!</h3>
<h3>I don't have much to say, so I'll keep it brief.</h3>
<h3>I am not adding any authentication system and this website will not be taking any data from your machines.</h3>
<h3>Anyone can use this website anonymously and find things which they have lost or help others to find their things.</h3>
<br> <br>

<h3>By looking at the website you know that I am not very good with frontend and designing.</h3>
<h3>If anyone wants to work on this website in the near future, drop a mail at kundan.pandey20ug@apu.edu.in</h3>
<h3>Or you can directly clone the project from my github and work on it.</h3>

<br><br>

<a href="/">Go Back!</a>