{% extends 'lostfound/index.html' %}

{% block name %}
<a href="/" class="navbar-brand">FOUND ITEM SECTION</a>
{%endblock%}

{%block body%}

{% for found in founditem%}


<div class="card" style="width:400px">
  <img class="card-img-top" src="{{found.itemimage.url}}">
  <div class="card-body">
    <h4 class="card-title">{{found.itemname}}</h4>
    <h4>{{found.founderemail}}</h4>
    <p class="card-text">{{found.itemdescription}}</p>
    <a href="#" class="btn btn-primary">More info</a>
  </div>
</div>


  
  {% endfor%}

  {%endblock%}