{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
<title>Lost_Found App</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"content="width=device-width, initial-scale=1">
<!-- css file for index.html -->
<link rel="stylesheet" href="{% static 'style/index.css' %}">
 <!-- js files for index.html  -->
 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


<style>
    body {
        background-color: #ddd;
    }
    .column {
        float: left;
        width: 100%;
        padding: 10px;
      }
      
      /* Clear floats after the columns */
     
      hr {
        border-top: 1px solid black;
      }
</style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {%block name%}
      <a href="/" class="navbar-brand">LOST ITEM SECTION</a>
      {%endblock%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="{% url 'founditemlist' %}">Found Item Section <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a href="{% url 'createfounditem' %}">Report Found Item</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'createlostitem' %}">Report Lost Item</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <span class="navbar-text">
        <a href="{% url 'logout' %}">
          Logout
        </a>
      {% else %}
      <span class="navbar-text">
        <a href="{% provider_login_url 'google' %}">
          Login with google
        </a>
        
      </span>
      {% endif %}
    </div>
  </nav>

{%block body%}

{% for lost in lostitem%}
<div class="card" style="width:400px">
  <img class="card-img-top" src="{{lost.itemimage.url}}" alt="Image is not provided!">
  <div class="card-body">
    <h4 class="card-title">Lost Item Name</h4>
    <h4>{{lost.owneremail}}</h4>
    <p class="card-text">{{lost.itemdescription}}</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'deletelostitem' lost.id %}" class="btn btn-danger">Delete</a>
    {% else %}
    <a href="{% url 'login_alert' %}" class="btn btn-danger">Delete</a>
    {% endif %}

  </div>
</div>
<hr style="background:white; padding:0; margin:0;">
{% endfor %}






{%endblock%}
<br> <br> <br>
<nav class="navbar fixed-bottom navbar-light bg-dark">
  <a class="navbar-brand" href="#" style="color: rgb(70, 166, 245);">We'll update it later!</a>
</nav>


<script src="{% static 'js/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html> 





